build
Build
Build.bat
*/external/Catch
Makefile
MYMETA.json
MYMETA.yml
_build
blib
xs/buildtmp
*.o
MANIFEST.bak
xs/MANIFEST.bak
xs/assertlib*
.init_bundle.ini
local-lib
package/osx/Slic3r*.app
package/osx/_tmp
*.dmg
*.swp
*.swo
CMakeFiles
*.orig
*.a
core
CMakeCache.txt
*.cmake
*.exe
src/test/test_options.hpp
src/slic3r
build/*
serial.txt
.vscode

slic3r
gui_test
slic3r_test
compile_commands.json
tags
