# TravisCI configuration for Slic3r - https://slic3r.org
# 
# We build Linux and macOS versions on TravisCI, both the main program
# (perl/C++) and the pure C++ one.
# 
# Each job performs the following steps:
# - install dependencies (cached across builds)
# - build
# - test
# - package
# - deploy to dl.slic3r.org (except for the cppgui branch)

language: generic
dist: trusty

before_install:
    - sh package/common/travis-decrypt-key
    - export SLIC3R_GIT_VERSION=$(git rev-parse --short HEAD)
    - echo -n | openssl s_client -connect 'https://scan.coverity.com:443' | sed -ne '/-BEGIN CERTIFICATE-/,/-END CERTIFICATE-/p' | sudo tee -a /etc/ssl/certs/ca-

script:
    - if [[ "${TRAVIS_OS_NAME}" == "linux" && "$TARGET" == "main" ]]; then ./package/linux/travis-build-main.sh || travis_terminate 1; fi
    - if [[ "${TRAVIS_OS_NAME}" == "linux" && "$TARGET" == "cpp"  ]]; then ./package/linux/travis-build-cpp.sh || travis_terminate 1; fi
    - if [[ "${TRAVIS_OS_NAME}" == "osx"   && "$TARGET" == "main" ]]; then ./package/osx/travis-build-main.sh || travis_terminate 1; fi
    - if [[ "${TRAVIS_OS_NAME}" == "osx"   && "$TARGET" == "cpp"  ]]; then ./package/osx/travis-build-cpp.sh || travis_terminate 1; fi

branches:
  only:
  - master
  - cppgui
  - coverity-scan

addons:
  apt:
    sources:
    - ubuntu-toolchain-r-test
    packages:
    - g++-7
    - gcc-7
    - g++-4.9
    - gcc-4.9
    - libgtk2.0-0 
    - libgtk2.0-dev
    - freeglut3
    - cmake
    - wx3.0-headers
    - libwxgtk3.0-dev
    - wx-common
  ssh_known_hosts: dl.slic3r.org

matrix:
    include:
        - os: linux
          env:
            - TARGET=main
          cache:
            directories:
              - $HOME/boost_1_63_0
              - $HOME/perl5
              - $HOME/wx302
              - local-lib
          after_success:
            - if [[ "${TRAVIS_BRANCH}" == "master" ]]; then ./package/linux/travis-deploy-main.sh; fi

        - os: linux
          env: 
            - TARGET=cpp
            - CACHE=$HOME/cache
          cache:
            apt: true
            directories:
              - $HOME/cache
          after_success:
            - package/linux/travis-deploy-cpp.sh

        - os: linux
          env: 
            - TARGET=coverity
            - CACHE=$HOME/cache
            # The next declaration is the encrypted COVERITY_SCAN_TOKEN, created
            #   via the "travis encrypt" command using the project repo's public key
            - secure: "J2exlMTgOBNmGkNwofJezWlIX9ZAa9WqZsgTmHaceWRVAkgOYnekG6/NHStGQV6ttfmkowRWuOZW4mkuR0xZiOk2ZNH3CHyk986V9A3XMUH2bVXsxhSTyDpWc12mVjPApZEvfa1hzBHr6TZWPZtpcg1xrqpG3706YBOXaIQlYF0="
          cache:
            apt: true
            directories:
              - $HOME/cache

          addons:
            coverity_scan:
              project:
                name: "slic3r/Slic3r"
                description: "Open source 3D printing toolbox"
              notification_email: lordofhyphens@gmail.com
              build_command_prepend: ""
              build_command: "./package/linux/travis-build-cpp.sh"
              branch_pattern: coverity-scan



        # While this works, it does not appear to be needed as the 10.13 builds
        # work on 10.12 as well.
        # - os: osx
        #   # osx_image: xcode8 # OS X 10.11
        #   osx_image: xcode9.2 # OS X 10.12
        #   env:
        #     - TARGET=main
        #   cache:
        #     directories:
        #       - /usr/local/Homebrew
        #       - $HOME/Library/Caches/Homebrew
        #       - local-lib

        - os: osx
          osx_image: xcode9.4 # OS X 10.13
          env:
            - TARGET=main
          cache:
            directories:
              - /usr/local/Homebrew
              - $HOME/Library/Caches/Homebrew
              - local-lib
          after_success:
            - if [[ "${TRAVIS_BRANCH}" == "master" ]]; then ./package/osx/travis-deploy-main.sh; fi

        - os: osx
          osx_image: xcode9.4
          env:
            - TARGET=cpp
            - CACHE=$HOME/cache
          cache:
            ccache: true
            directories:
              - /usr/local/Homebrew
              - $HOME/cache
              - $HOME/Library/Caches/Homebrew

env:
  global:
  - secure: eEVRZNMv7FM6jrOU9iAFkDhWxFQ1WtHBEaObImcvtFUxy6vWSt3ehFFeTRouj3uHQAnbvUzziDyvPPm8/95alv5g/du8ML6YzzqKBKfazM0xQ7SF6R2DQL8lfFIp+RSV7T02byEP1f1g7Zva7xH9szIlDcSfU0pXW4KWbkBFMd8=
  - secure: gj338h+qHGccTD/VQFmEJkqdg2McIe2pO0iZ4Ae9BvY5vxkIML4BpoYZQXQTqiAOETnUjlcknY9lx0hI/PfkDD9MSJc5BC/3fMYRCu3SgAclEwklWf9vvtodUeT69mtnZuw1zze1nTbExuOw2mepbqFjxKKMl+9l5oCz4O54fXU=
notifications:
  irc:
    channels:
    - chat.freenode.net#slic3r
    on_success: change
    on_failure: always
    use_notice: true
