language: perl
install:
- export LDLOADLIBS=-lstdc++
- export BOOST_DIR=$HOME/boost_1_63_0
- export SLIC3R_STATIC=1
- export CXX=g++-4.9
- export CC=g++-4.9
- export WXDIR=$HOME/wx302
- source $HOME/perl5/perlbrew/etc/bashrc
script:
- bash package/linux/travis-setup.sh
- perlbrew switch slic3r-perl
- export LD_LIBRARY_PATH=$WXDIR/lib # Dirty hack to get wxlibs on path
- perl ./Build.PL
after_success:
- package/linux/make_archive.sh linux-x64
- package/deploy-bintray.sh *.bz2
branches:
  only:
  - master
  - xsgui
cache:
  apt: true
  directories:
  - "$HOME/cache"
addons:
  apt:
    sources:
    - ubuntu-toolchain-r-test
    packages:
    - g++-4.9
    - gcc-4.9
notifications:
  irc:
    channels:
    - chat.freenode.net#slic3r
    on_success: change
    on_failure: always
    use_notice: true
sudo: required
dist: trusty
env:
  matrix:
  - secure: esNwHmYdri6Wn/AruRMLqk+HWelnLaPPNtLysGvdwp4K26K81Ys++1/M00IRgZi2LDqXWNlIUAcDCFMlKpZ0m6o0r0q4ukIiMRFFbg2cTGHW8qBuHIEmNliex9uFquU1r5PVEl4eVbHbhNjUDeMwlF74A+3PUxTEvI2X0rLdMKM=
