language: perl
install: export LDLOADLIBS=-lstdc++
script: perl ./Build.PL
perl:
  - "5.14"
  - "5.18"
  - "5.20"
branches:
  only:
    - master
sudo: false
cache:
  apt: true
  directories:
    - local-lib
addons:
  apt:
    sources:
    - boost-latest
    - ubuntu-toolchain-r-test
    packages:
    - libboost-thread1.55-dev
    - libboost-system1.55-dev
    - libboost-filesystem1.55-dev
    - liblocal-lib-perl
    - g++-4.9
    - freeglut3-dev
    - libglapi-mesa
    - libgl1-mesa-dev
    - libgl1-mesa-glx
    - libgl1-mesa-swx11-dev
    - libglu1-mesa-dev
    - libglw1-mesa
    - libglw1-mesa-dev
    - libglw1-mesa
env: CC=g++-4.9
notifications:
  irc:
    channels:
      - "chat.freenode.net#slic3r"
    on_success: change
    on_failure: always
    use_notice: true
