[Desktop Entry]
Name=Super GCode viewer
Exec=superslicer --gcodeviewer %F
Icon=SuperSlicer-gcodeviewer
Terminal=false
Type=Application
MimeType=text/x.gcode;
Categories=Graphics;3DGraphics;
Keywords=3D;Printing;Slicer;
